.item {
  flex-wrap: wrap;
}
.pages{
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  font-weight: 800;
  font-size: 14px;
  padding: 8px;
  top: 16px;
  border: white;
}
.card-body{
  padding: 0px;
}
.card-title{
  font-weight: 500;
  font-size: 24px;
}
.price{
  font-weight: 900;
  font-size: 18px;
  color: #ffaf00;
  margin-left: 10px;
}
.country{
  font-weight: 800;
  font-size: 18px;
  color: #878787;
  margin-top: 24px;
  margin-right: 10px;
}