.text-colom-h, .text-colom{
  margin: 10px 0px 10px;
  font-size: 14px;
}
.text-colom-h{
  font-weight: 700;
}
.text-colom{
  font-weight: 400;
}
.content-table{
  border-bottom: 1px solid black !important;
}
.incoming-text{
  font-weight: 900;
  font-size: 36px;
}