.home-pages{
  box-sizing: border-box;
  /* background-color: #e5e5e5; */
  background-color: rgb(230, 229, 229);
  /* background: url("./assets/hero.png") no-repeat; */
}
.footer{
  background-color: #ffaf00;
  text-align: center;
  height: 54px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}
.footer-item{
  padding: 12px;
}
/* .background-hero{
  background: url("./assets/hero.png") no-repeat;
} */

#mySwitch input, select, textarea{
  /* background-color: #b1b1b1; */
  background-color: white;
}

#mySwitch select, textarea {
  background-color: white;
}

#mySwitch label{
  font-weight: 900;
  font-size: 24px;
  margin-top: 12px;
}

#bgHero-img{
  position: absolute;
  width: 100%;
  top: 0;
}

.search{
  position: absolute;
  margin-top: 200px;
  justify-content: center;
  width:100%;
}
.label-form{
  font-size: 18px;
  font-weight: 400;
  color: white;
}